.wrapper
  .mainChat
    .mainChat__groupInfo
      .infoBlock
        .infoBlock__groupName test
        .infoBlock__memberName member-name
      = link_to "#", class: "editBtn" do
        Edit
    .mainChat__messageList
      .messageBlock
        .massageData
          .massageData__messenger taro
          .massageData__dataAndTime 2020/01/01
        .message hello
      .messageBlock
        .massageData
          .massageData__messenger taro
          .massageData__dataAndTime 2020/01/01
        .message hello
      .messageBlock
        .massageData
          .massageData__messenger taro
          .massageData__dataAndTime 2020/01/01
        .message hello
    .mainChat__messageForm
      .form
        .form__messageForm type a message
        %label{class: "form__photoIcon"}
          %i.far.fa-image
          %input{type: "file"}
      .sendBtn Send

  

          