%div.wrapper 
  %div.side-bar
    %div.side-bar__user-name
      %div.top-items
        %div.top-items__name taro
        %div.top-items__icons
          = link_to "#", class: "icons__btn" do
            %i.far.fa-edit
          = link_to "#", class: "icons__btn" do
            %i.fas.fa-cog
    %div.side-bar__group-list
      %div.group
        %div.group__name like banana
        %div.group__latest-message hello

