.wrapper 
  .sideBar
    .sideBar__userName
      .topItems
        .topItems__name taro
        .topItems__icons
          = link_to "#", class: "icons__btn" do
            %i.far.fa-edit
          = link_to "#", class: "icons__btn" do
            %i.fas.fa-cog
    .sideBar__groupList
      .group
        .group__name like banana
        .group__latestMessage hello
      .group
        .group__name like apple
        .group__latestMessage hello
      .group
        .group__name like potato
        .group__latestMessage hello

