.wrapper 
  .side-bar
    .side-bar__user-name
      .top-items
        .top-items__name
          = current_user.name
        .top-items__icons
          = link_to "#", class: "icons__btn" do
            %i.fas.fa-cog
          = link_to edit_user_path(current_user), class: "icons__btn" do
            %i.far.fa-edit

    .side-bar__group-list
      .group
        .group__name like banana
        .group__latest-message hello
      .group
        .group__name like apple
        .group__latest-message hello
      .group
        .group__name like potato
        .group__latest-message hello

